<%= stylesheet_link_tag "home.min" %>
<%= stylesheet_link_tag "universal.min" %>

<%= render 'layouts/navbar' %>

<container>
  <h1 class="home-page-header">Hello There</h1>
  <p>This is the beginning of the new website template.</p>
  <button>Create New User</button>
</container>
