.navbar{
  display: flex;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.humidifire_logo{
  max-height: 100px;
}

.menu-items{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
}

.btn-outline-success{
  padding: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  a{
    color: #fff;
    text-decoration: none;
    &:hover{
      opacity: 0.5;
      transition: 500ms;
    }
  }
}
